@media only screen (max-width: 768px) {
    body {
      font-size: 14px;
    }
    #main-content {
      width: 100%;
    }
    .sidebar {
      display: none;
    }
  }
  
.googletitle
{
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.header
{
    font-size: 13px;
    text-align: right;
    padding-top: 22px;
    padding-right: 10px;
}

.menuItems
{
    font-size: 13px;
    padding-right: 10px;
    padding-left: 20px;
    display: inline-block;
}

.search
{
    font-size: 1px;
    text-align: left;
    margin: auto;
    margin-top: 50px;
    padding: 14px;
    width: 600px;
    color: none;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
}

#input1 {
    text-align: left;
    width: 600px;
    color: blue;
    border: none;
    outline: none;
}

.form1 {
    border: none;
    outline: none;
    caret-color: black; 
    animation: blink-caret 1s step-end infinite;
    @keyframes blink-caret {
        from, to { border-color: transparent; }
        50% { border-color: black; }
      } 
}

#button1, #button2 {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    font color: #202124;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    border color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#button1:hover {
    border: 2px solid grey;
  }

#button2:hover {
    border: 2px solid grey;
  }
  