@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
    #main-content {
      width: 100%;
    }
    .sidebar {
      display: none;
    }
  }
  
.googletitle
{
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.header
{
    font-size: 13px;
    text-align: right;
    padding-top: 22px;
    padding-right: 10px;
}

.menuItems
{
    font-size: 13px;
    padding-right: 10px;
    padding-left: 20px;
    display: inline-block;
}

.search
{
    font-size: 1px;
    text-align: left;
    margin: auto;
    margin-top: 50px;
    padding: 14px;
    width: 600px;
    color: none;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
}

.form1 {
    border: none;
    outline: none;
    caret-color: black; 
    animation: blink-caret 1s step-end infinite;
    @keyframes blink-caret {
        from, to { border-color: transparent; }
        50% { border-color: black; }
      } 
}